
body{
	background: #FFF url(img/geometry2.png) repeat;
	margin:0px;
	text-align:center;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size:22px;
}

.image {
   position: relative;
}

#clock {
   position: fixed;
   top: 298px;
   left: 553px;
   width: 100%;
   margin: 0 auto;
   width: 180px;
   height: 50px;
}

#day {
   position: fixed;
   top: 455px;
   left: 520px;
   width: 100%;
   margin: 0 auto;
   width: 250px;
   height: 50px;
}