@charset "utf-8";
/* CSS Document */

body{
	background: #FFF url(img/geometry2.png) repeat;
	margin-right: 500px;
	margin-left: 100px;
	margin-top: 50px;
	font-family: "orange juice";
	font-size:26px;
}


ul{
	background-color:#DEDEDE;
	list-style-position:outside;
	width:40%;
	flow:left;
	padding:none;
	margin-right:35px;
}

#output{
	margin-right:10%;
}

li{
	border-bottom:1px solid white;
	padding: 5px;
	padding-bottom:0px;
	line-height:2;
	list-style: none;
	padding:5px 5px 5px 20px;
	background-repeat: no-repeat;
	background-position:left center;
	
}

.task{
	background-image: url(../img/unchecked.jpg);
	
	
}


.done{
	background-image: url(../img/done.jpg);
	text-decoration:line-through;
}